@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
  max-width: 13000px;
  padding: 0 80px;
  margin: auto;
}

/* navbar style */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Barlow Condensed', sans-serif;
    transition: all 0.3s ease;
}
.navbar sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 100px;
  font-weight: 9000;
}
.navbar .logo a span{
  color: magenta;
  transition: all 0.3s ease;
}
.navbar .menu li{
  list-style: none;
  display: inline-block;  
}
.navbar .menu li a{
  color: #fff;
  font-size: 35px;
  font-weight: 9000;
  margin-left: 50px;
  transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color: magenta;
}
.navbar.sticky .menu lia:hover{
  color: white;
}


/* menu btn styling*/ 
.menu-btn{
  color: white;
  font-size: 23px;
  cursor: pointer;
  display: true;
}
/* design acceuille*/ 
.home {
  display: flex;
  background: url("https://images.wallpaperscraft.com/image/single/mask_totem_smoke_192795_1920x1080.jpg") no-repeat center;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: 'Barlow Condensed', sans-serif;
}
.home .max-width{
  margin: auto 0 auto 40px;
  font-weight: 90000;
}

.home .home-content .texte-1{
  font-size: 35px;
}
.home .home-content .texte-2{
  font-size: 75px;
  font-weight: 1000;
  margin-left: -5px;
  font-family: 'Barlow Condensed', sans-serif;
}
.home .home-content .texte-3{
  font-size: 45px;
  margin: 5px 0;
}

/* responsiv media query start */
@media(max-width: 991px){
  .max-width{
  padding: 0 50px;
}
}